tc qdisc add dev eth1 root netem rate {{ tc_rate }} delay {{ tc_delay }} {{ tc_delay_jitter }} {{ tc_delay_correlation }}
tc qdisc add dev eth2 root netem rate {{ tc_rate }} delay {{ tc_delay }} {{ tc_delay_jitter }} {{ tc_delay_correlation }} 
tc qdisc add dev eth3 root netem rate {{ tc_rate }} delay {{ tc_delay }} {{ tc_delay_jitter }} {{ tc_delay_correlation }}
tc qdisc add dev eth4 root netem rate {{ tc_rate }} delay {{ tc_delay }} {{ tc_delay_jitter }} {{ tc_delay_correlation }}

# Create an empty file upon execution that allow Ansible 
# to check if this script has already been run once

touch /root/.tc_configured