tc qdisc change dev eth1 root netem rate {{ tc_rate['eth1'] }} delay {{ tc_delay['eth1'] }} {{ tc_delay_jitter['eth1'] }} {{ tc_delay_correlation['eth1'] }} loss {{ tc_loss['eth1'] }}
tc qdisc change dev eth2 root netem rate {{ tc_rate['eth2'] }} delay {{ tc_delay['eth2'] }} {{ tc_delay_jitter['eth2'] }} {{ tc_delay_correlation['eth2'] }} loss {{ tc_loss['eth2'] }}
tc qdisc change dev eth3 root netem rate {{ tc_rate['eth3'] }} delay {{ tc_delay['eth3'] }} {{ tc_delay_jitter['eth3'] }} {{ tc_delay_correlation['eth3'] }} loss {{ tc_loss['eth3'] }}
tc qdisc change dev eth4 root netem rate {{ tc_rate['eth4'] }} delay {{ tc_delay['eth4'] }} {{ tc_delay_jitter['eth4'] }} {{ tc_delay_correlation['eth4'] }} loss {{ tc_loss['eth4'] }}